:host {
  .side-bar{
    max-width: 25rem;
    margin-top: 3.5rem;
    padding-top: 1rem;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }

  .picture-full-view {
    max-height: calc(100vh - 5.5rem);
  }
}
