<app-main-navbar>
  <li class="nav-item">
    <button class="btn btn-primary" title="Back to folder"
            [routerLink]="['/folders', (folderId$ | async)]">
      <span class="fa fa-chevron-left"></span>
    </button>
  </li>
  <li class="nav-item">
    <ng-container [ngSwitch]="maximize$ | async">
      <button *ngSwitchCase="true" class="btn btn-primary ms-2" title="Fit picture in view"
              (click)="onMaximize()">
        <span class="fa fa-compress"></span>
      </button>
      <button *ngSwitchCase="false" class="btn btn-secondary ms-2" title="Maximize picture"
              (click)="onMaximize()">
        <span class="fa fa-expand"></span>
      </button>
    </ng-container>
  </li>
  <li class="nav-item">
    <button class="btn btn-primary ms-2" title="Move picture"
            (click)="onMovePicture()">
      <span class="fa fa-external-link-alt"></span>
    </button>
  </li>
  <li class="nav-item">
    <button class="btn btn-danger ms-2" title="Delete picture"
            (click)="onDeletePicture()">
      <span class="fa fa-trash"></span>
    </button>
  </li>
</app-main-navbar>

<div class="container-fluid clear-navbar">
  <div class="row">
    <div class="col-lg-3 mb-4">
      <app-picture-details [folder]="folder$ | async" [picture]="picture$ | async"
                           class="d-block mb-2"></app-picture-details>
      <app-picture-tags [picture]="picture$ | async"
                        class="d-block mb-2"></app-picture-tags>
      <app-picture-duplicates [picture]="picture$ | async"></app-picture-duplicates>
    </div>
    <div class="col-lg-9 image-container">
      <img class="d-block mx-auto shadow-lg" [class.maximized]="maximize$ | async" appPictureImg
           [pictureId]="(picture$ | async)?.id || null"/>
    </div>
  </div>
</div>
