<app-main-navbar>
  <li class="nav-item">
    <button class="btn btn-primary" title="Back to folder"
            [routerLink]="['/folders', (folderId$ | async)]">
      <span class="fa fa-chevron-left"></span>
    </button>
  </li>
  <li class="nav-item">
    <button class="btn btn-primary ml-2" title="Edit picture details"
            (click)="onEditPicture()">
      <span class="fa fa-edit"></span>
    </button>
  </li>
  <li class="nav-item">
    <button class="btn btn-primary ml-2" title="Move picture"
            (click)="onMovePicture()">
      <span class="fa fa-external-link-alt"></span>
    </button>
  </li>
  <li class="nav-item">
    <button class="btn btn-danger ml-2" title="Delete picture"
            (click)="onDeletePicture()">
      <span class="fa fa-trash"></span>
    </button>
  </li>
</app-main-navbar>

<div class="container-fluid clear-navbar">
  <div class="row">
    <div class="col-lg-3 mb-4">
      <app-picture-details [folder]="folder$ | async" [picture]="picture$ | async"
                           class="d-block mb-2"></app-picture-details>
      <app-picture-tags [picture]="picture$ | async"
                        class="d-block mb-2"></app-picture-tags>
      <app-picture-duplicates [picture]="picture$ | async"></app-picture-duplicates>
    </div>
    <div class="col-lg-9 image-container">
      <img class="d-block mx-auto" appPictureImg [pictureId]="(picture$ | async)?.id || null"/>
    </div>
  </div>
</div>
