@import "~src/web/styles/variables";

:host {
  .image-container {
    .picture-img {
      max-width: 100%;

      &.maximized {
        width: 100%;
      }

      &:not(.maximized) {
        @media (min-width: map-get($grid-breakpoints, 'lg')) {
          max-height: calc(100vh - 5rem);
        }
      }
    }
  }
}
