<app-main-navbar></app-main-navbar>

<div class="container-fluid clear-navbar">
  <div class="row">
    <div class="col col-sm-2">
      <div class="list-group">
        <button *ngFor="let d of duplicates$ | async; let index = index"
                type="button"
                class="list-group-item list-group-item-action"
                (click)="onDuplicateSelect(index)"
                [class.active]="(selectedIndex$ | async) === index">
          {{d.matchedOn | date}},&nbsp;{{d.similarity | percent}}
        </button>
      </div>
    </div>
    <div class="col col-sm-10">
      <ng-container *ngIf="(selectedDuplicate$ | async) as duplicateProps">
        <div class="duplicate-header font-weight-bold mb-2">
          Matched on <span class="badge badge-info">{{duplicateProps.matchedOn | date:'medium'}}</span>
          with <span class="badge badge-info">{{duplicateProps.similarity | percent}}</span> similarity
        </div>
        <div class="row mb-2">
          <div class="col col-sm-6">
            <app-duplicate-view [pictureId]="duplicateProps.sourceId"
                                [duplicateId]="duplicateProps.id"></app-duplicate-view>
          </div>
          <div class="col col-sm-6">
            <app-duplicate-view [pictureId]="duplicateProps.targetId"
                                [duplicateId]="duplicateProps.id"></app-duplicate-view>
          </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block" (click)="onNextDuplicate()">Next</button>
      </ng-container>
    </div>
  </div>
</div>
