<ng-container *ngIf="!!duplicate">
  <div class="d-flex">
    <ng-container *ngIf="(targetPicture$ | async) as target">
      <div class="duplicate-picture-preview-container mr-1">
        <a [routerLink]="['/directories',target.directory.id,'pictures', target.id]">
          <img src="" alt="" class="img-fluid" appPictureImg [picture]="target"/>
        </a>
      </div>
      <ul class="list-unstyled">
        <li>{{target.name}}</li>
        <li class="small">{{target.directory.location}}</li>
        <li class="small">
          <span class="font-weight-bold">Similarity:</span>&nbsp;{{duplicate?.similarity | percent}}
        </li>
        <li class="small">
          <span class="font-weight-bold">Matched on:</span>&nbsp;{{duplicate?.matchedOn | date:'medium'}}
        </li>
        <li>
          <div class="btn-group btn-group-sm" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" title="Unlink duplicate..." (click)="onUnlinkDuplicate()">
              <span class="fa fa-unlink"></span>
            </button>
            <button type="button" class="btn btn-danger" title="Delete duplicate..." (click)="onDeleteDuplicate()">
              <span class="fa fa-trash"></span>
            </button>
          </div>
        </li>
      </ul>
    </ng-container>
  </div>
</ng-container>
