<div class="card shadow mb-2" *ngIf="!!picture">
  <div class="card-header d-flex justify-content-between">
    <h4 class="my-0">Duplicates</h4>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-outline-primary" (click)="onUnlinkAll()" title="Unlink all duplicates..."><span
        class="fa fa-unlink"></span></button>
      <button class="btn btn-primary" (click)="onScanDuplicates()" title="Scan for duplicates..."><span
        class="fa fa-images"></span></button>
    </div>
  </div>
  <div class="card-body p-0" *ngIf="duplicates$ | async | notEmpty">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let d of duplicates$ | async">
        <app-picture-duplicate [duplicate]="d"></app-picture-duplicate>
      </li>
    </ul>
  </div>
</div>
