@import "~src/web/styles/variables";

$tile-size: 12.5rem;

:host {
  .picture-tile {
    position: relative;
    cursor: pointer;

    img {
      width: $tile-size;
      height: $tile-size;
      object-fit: contain;
    }

    .picture-tile-label {
      background-color: fade-out($black, .5);
    }
  }
}
