<div ngbDropdown>
  <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
    <span class="fa fa-tags"></span>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <form [formGroup]="createTagForm" class="px-4 pt-2 create-tag-form"
          (submit)="onCreateTagSubmit()">
      <div class="form-group">
        <label for="tag-label-input">Create Tag</label>
        <div class="input-group input-group-sm">
          <input type="email" class="form-control"
                 id="tag-label-input" placeholder="Label"
                 formControlName="label"/>
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit"
                    [disabled]="createTagForm.invalid">Ok
            </button>
          </div>
        </div>
      </div>
    </form>
    <button *ngIf="tagsIsEmpty$ | async" disabled>No tags available</button>
    <button ngbDropdownItem *ngFor="let tag of tags$ | async" (click)="onTagSelected(tag)">
      <span class="fa fa-plus"></span>&nbsp;
      <span class="badge" [style.backgroundColor]="tag.color">{{tag.label}}</span>
    </button>
  </div>
</div>
