<div class="show-directory-properties-btn"
     *ngIf="closed$ | async; else directoryPropertiesTpl"
     (click)="closed$.toggle()"
     role="button"
     title="Show directory properties">
  <h4 class="fa fa-info-circle text-info my-0"></h4>
</div>

<ng-template #directoryPropertiesTpl>
  <div class="card shadow directory-properties-card" *ngIf="!!directory">
    <div class="card-header d-flex justify-content-between">
      <h4 class="my-0"><span class="fa fa-folder-open"></span>&nbsp;{{directory.name}}</h4>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" (click)="onUpdateDirectoryPictures()" title="Update directory pictures from disk">
          <span class="fa fa-sync"></span>
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="closed$.toggle()" title="Collapse...">
          <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        <li><span class="font-weight-bold">Location:</span> {{directory.location}}</li>
      </ul>
      <h6>Children <span class="badge bg-info text-white">{{directory.children.length}}</span></h6>
      <app-directory-tree [directories]="directory.children" [showRootPaths]="false" (directoryAction)="onDirectoryAction($event)"></app-directory-tree>
    </div>
  </div>
</ng-template>
