.directory-properties-card {
  width: 20rem;
  position: fixed;
  top: 5.5rem;
  right: 2rem;
  z-index: 500;
}

.show-directory-properties-btn {
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 500;
}
