<div class="card shadow" *ngIf="!!folder && !!picture">
  <div class="card-header d-flex align-items-baseline" *ngIf="!editing$.value; else editNameTpl">
    <h4 class="card-title text-ellipsis mb-0" [title]="picture.name">{{picture.name}}</h4>
    <span class="fa fa-edit ms-2 text-muted" title="Rename picture" role="button" (click)="editing$.toggle()"></span>
  </div>
  <ng-template #editNameTpl>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="input-group">
        <input type="text" class="form-control form-control-lg" formControlName="name" placeholder="Folder name">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid || form.pristine"><span
          class="fa fa-save"></span></button>
        <button class="btn btn-danger" type="button" (click)="onCancel()"><span class="fa fa-times"></span></button>
      </div>
    </form>
  </ng-template>
  <div class="card-body">
    <table class="table table-sm table-borderless">
      <tbody>
      <tr>
        <th>Folder:</th>
        <td>{{folder.name}}</td>
      </tr>
      <tr>
        <th>Type:</th>
        <td>{{picture.type}}</td>
      </tr>
      <tr>
        <th>Dimensions:</th>
        <td>{{picture.width}} x {{picture.height}}</td>
      </tr>
      <tr>
        <th>File size:</th>
        <td>{{picture.fileSize | fileSize}}</td>
      </tr>
      <tr>
        <th>Added:</th>
        <td>{{picture.addedOn | date:'medium'}}</td>
      </tr>
      <tr>
        <th>Last modified:</th>
        <td>{{picture.lastModified | date:'medium'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
