<div class="card" *ngIf="!!picture">
  <div class="card-body">
    <div class="row">
      <div class="col col-sm-6"><img appPictureImg [picture]="picture"/></div>
      <div class="col col-sm-6">
        <table class="table table-sm picture-details">
          <tbody>
          <tr>
            <th>Name:</th>
            <td>{{picture.name}}</td>
          </tr>
          <tr>
            <th>Type:</th>
            <td>{{picture.type}}</td>
          </tr>
          <tr>
            <th>Dimensions:</th>
            <td>{{picture.width}} x {{picture.height}}</td>
          </tr>
          <tr>
            <th>File size:</th>
            <td>{{picture.fileSize | fileSize}}</td>
          </tr>
          <tr>
            <th>Added on:</th>
            <td>{{picture.addedOn | date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-primary mr-2" title="Unlink duplicates" (click)="onUnlinkDuplicate()">
      <span class="fa fa-unlink"></span>
    </button>
    <button class="btn btn-outline-danger mr-2" title="Delete picture" (click)="onDeletePicture()">
      <span class="fa fa-trash"></span>
    </button>
    <button class="btn btn-outline-primary mr-2" title="Move picture" (click)="onMovePicture()">
      <span class="fa fa-external-link-alt"></span>
    </button>
  </div>
</div>
