<app-main-navbar></app-main-navbar>

<div class="container-fluid clear-navbar">
  <div class="row">
    <div class="col col-sm-8">

    </div>
    <div class="col col-sm-4">
      <div class="card">
        <div class="card-header">
          <h1>{{(folder$ | async)?.name}}</h1>
        </div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <a [routerLink]="['/folders', child.id]" class="list-group-item list-group-item-action"
               *ngFor="let child of childFolders$ | async"><span class="fa fa-folder"></span>&nbsp;{{child.name}}</a>
            <a href="#" class="list-group-item disabled" *ngIf="childFolders$ | async | empty">No child folders</a>
          </div>
        </div>
        <div class="card-footer p-0">
          <button class="btn btn-default btn-block" (click)="onAddFolder()">
            <span class="fa fa-folder-plus"></span>&nbsp;Add folder
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
