<app-main-navbar></app-main-navbar>
<nav class="navbar navbar-light bg-light fixed-top shadow folder-details">
  <div class="container-fluid">
    <app-folder-breadcrumbs></app-folder-breadcrumbs>
    <app-folder-details-pane [folder]="folder$ | async"></app-folder-details-pane>
  </div>
</nav>

<div class="container-fluid d-flex flex-wrap folder-contents">
  <app-folder-tile *ngFor="let folder of childFolders$ | async" [folder]="folder"></app-folder-tile>
  <app-picture-tile *ngFor="let picture of pagedPictures$ | async" [picture]="picture" [folder]="folder$ | async"></app-picture-tile>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom folder-pagination" *ngIf="pictures$ | async as pictures">
  <div class="container-fluid">
    <app-pagination [collectionSize]="pictures.length" [pageSize]="pageSizeRef.selectedSize$ | async"
                    (range)="onPageUpdate($event)"></app-pagination>
    <app-page-size-selector [collectionSize]="pictures.length" #pageSizeRef></app-page-size-selector>
  </div>
</nav>
