<div class="btn-group d-flex" *ngIf="folder$ | async as folder">
  <button class="btn btn-outline-primary" (click)="onAddFolder()" title="Add folder">
    <span class="fa fa-folder-plus"></span>
  </button>
  <button class="btn btn-outline-primary" title="Add pictures"
          (click)="onAddPictures()"
          *ngIf="(isRootFolder$ | async) === false">
    <span class="fa fa-images"></span>
  </button>
  <button class="btn btn-outline-primary"
          title="Move folder"
          (click)="onMoveFolder()"
          *ngIf="(isRootFolder$ | async) === false">
    <span class="fa fa-external-link-alt"></span>&nbsp;
  </button>
  <button class="btn btn-outline-danger" title="Delete folder"
          (click)="onDeleteFolder()"
          *ngIf="(isRootFolder$ | async) === false">
    <span class="fa fa-folder-minus"></span>
  </button>
</div>
