<div class="card" *ngIf="(picture$ | async) as picture">
  <img appPictureImg [picture]="picture" src="" alt=""  class="card-img-top"/>
  <div class="card-body">
    <h5 class="card-title">{{picture.name}}</h5>
    <ul class="list-unstyled">
      <li class="text-ellipsis"><span class="font-weight-bold small">Location:</span> {{picture.location}}</li>
      <li><span class="font-weight-bold small">Dimensions:</span> {{picture.width}}x{{picture.height}}px</li>
      <li><span class="font-weight-bold small">File Size:</span> {{picture.fileSize | fileSize}}</li>
      <li><span class="font-weight-bold small">File Type:</span> {{picture.fileType}}</li>
      <li><span class="font-weight-bold small">Last Modified:</span> {{picture.lastModified | date:'medium'}}</li>
    </ul>
    <div class="btn-group">
      <button class="btn btn-outline-primary" (click)="onUnlink()">
        <span class="fa fa-unlink"></span>
      </button>
      <button class="btn btn-outline-primary" (click)="onMove()">
        <span class="fa fa-folder"></span>
      </button>
      <button class="btn btn-outline-danger" (click)="onDelete()">
        <span class="fa fa-trash"></span>
      </button>
    </div>
  </div>
</div>

