<form (submit)="onSubmit($event)" modalForm>
  <div class="modal-header">
    <h4 class="modal-title">Add pictures to "{{parentFolder.name}}"</h4>
    <button type="button" class="btn-close" aria-label="Close" modalDismiss></button>
  </div>
  <div class="modal-body">
    <div class="selection-indicator mb-4"
         *ngFor="let dir of selectedDirectories$ | async; let dirIdx = index">
      <table class="table table-sm table-striped">
        <thead>
        <tr>
          <th>{{dir.name}} <span class="text-muted">({{dir.fullPath}})</span></th>
          <th>
            <button type="button" class="btn btn-outline-danger btn-sm float-end"
                    (click)="onRemoveDirectory(dirIdx)">
              <span class="fa fa-trash"></span>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of dir.files | slice:0:10; let fileIdx = index">
          <td>{{file.name}}</td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm float-end"
                    (click)="onRemoveFile(dirIdx, fileIdx)">
              <span class="fa fa-trash"></span>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot *ngIf="dir.files.length > 10">
        <tr>
          <td colspan="2">and {{dir.files.length - 10}} more...</td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="drop-zone"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)">
      <input type="file" id="fileInputRef" multiple (change)="onFileBrowse($event)">
      <span class="select-files-label">
        <span>Drop files here or</span>&nbsp;<label class="text-primary cursor-pointer"
                                                    for="fileInputRef">Browse files</label>
      </span>
      <span class="drop-files-label">Drop files...</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" modalDismiss>Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="selectedDirectories$ | async | empty">Upload...</button>
  </div>
</form>
