<div class="card border-info shadow mb-2" *ngIf="!!picture">
  <div class="card-header d-flex justify-content-between">
    <h4 class="my-0"><span class="fa fa-image"></span>&nbsp;{{picture.name}}</h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li><span class="font-weight-bold small">Location:</span> {{picture.location}}</li>
      <li><span class="font-weight-bold small">Width:</span> {{picture.width}}</li>
      <li><span class="font-weight-bold small">Height:</span> {{picture.height}}</li>
      <li><span class="font-weight-bold small">File Size:</span> {{picture.fileSize | fileSize}}</li>
      <li><span class="font-weight-bold small">File Type:</span> {{picture.fileType}}</li>
      <li><span class="font-weight-bold small">Last Modified:</span> {{picture.lastModified | date:'medium'}}</li>
    </ul>
  </div>
</div>
