<div class="card shadow mb-2" *ngIf="!!picture">
  <div class="card-header d-flex justify-content-between">
    <h4 class="my-0">Tags</h4>
    <app-tag-selector (tagSelected)="onAddTag($event)"></app-tag-selector>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li *ngFor="let t of picture.tags">
        <div ngbDropdown>
          <span class="badge" role="button" ngbDropdownToggle [style.backgroundColor]="t.color">{{t.label}}</span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="['/tags', t.id, 'pictures']">
              <span class="fa fa-search"></span>&nbsp;View others like this
            </button>
            <button class="text-danger" ngbDropdownItem (click)="onRemoveTag(t)">
              <span class="fa fa-trash"></span>&nbsp;Remove tag
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
