<ul class="list-group list-group-flush" [class.ml-4]="!isRoot">
  <ng-container *ngFor="let directory of directories">
    <li class="list-group-item list-group-item-action">
      <button type="button" class="btn btn-link btn-sm"
              (click)="toggleDirectory(directory);$event.preventDefault()"
              [class.d-hidden]="!directory.children.length">
        <ng-container [ngSwitch]="!!openedStates[directory.id]">
          <span *ngSwitchCase="true" class="fa fa-minus"></span>
          <span *ngSwitchCase="false" class="fa fa-plus"></span>
        </ng-container>
      </button>
      <button type="button" class="btn btn-link" (click)="onDirectoryAction(directory)">
        <ng-container [ngSwitch]="showRootPaths && isRoot">
          <span *ngSwitchCase="true">{{directory.location}}</span>
          <span *ngSwitchDefault>{{directory.name}}</span>
        </ng-container>
      </button>
    </li>
    <app-directory-tree *ngIf="!!openedStates[directory.id]"
                        [directories]="directory.children"
                        [initOpen]="initOpen"
                        [level]="level + 1"
                        (directoryAction)="onDirectoryAction($event)"
    ></app-directory-tree>
  </ng-container>
</ul>
