<app-main-navbar>
  <li class="nav-item">
    <button class="btn btn-secondary" title="Reload duplicates" (click)="onReloadDuplicates()">
      <span class="fa fa-sync"></span>
    </button>
  </li>
</app-main-navbar>

<div class="container-fluid clear-navbar">
  <app-duplicates-view *ngIf="duplicatesReelRef.selectedDuplicate$ | async as selectedDuplicate; else noDuplicatesTpl" [duplicate]="selectedDuplicate"></app-duplicates-view>

  <app-duplicates-reel #duplicatesReelRef></app-duplicates-reel>

  <ng-template #noDuplicatesTpl>
    <h4>No duplicates found!</h4>
  </ng-template>
</div>
