/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Compatibility between ng forms and bootstrap validations
.form-control.ng-touched {
  &.ng-invalid {
    @extend .is-invalid;
  }

  &.ng-valid {
    @extend .is-valid;
  }
}

.clear-navbar {
  margin-top: 4.5rem;
}

.d-hidden {
  visibility: hidden;
}

//noinspection CssUnknownProperty
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.text-ellipsis {
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}
