<app-main-navbar></app-main-navbar>

<div class="d-flex">
  <div class="container-fluid flex-grow-1 no-scrollbar pictures-list-view">
    <div class="row">
      <div class="col col-sm-3" *ngFor="let c of pictures$ | async">
        <a [routerLink]="['pictures', p.id]" *ngFor="let p of c">
          <img src="" alt="" class="img-fluid shadow mb-3" appPictureImg [picture]="p"/>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid no-scrollbar side-bar">
    <app-directory-properties [directory]="directoryProps$ | async"></app-directory-properties>
  </div>
</div>

<div class="btn-toolbar directory-pagination">
  <app-pagination
    (currentPage)="page$.next($event)"
    [pageSize]="psSelect.selectedSize | async"
    [collectionSize]="directoryPictureCount$ | async"
  ></app-pagination>
  <app-page-size-selector
    class="ml-2"
    #psSelect
    (selectedSize)="pageSize$.next($event)"
    [collectionSize]="directoryPictureCount$ | async"
  ></app-page-size-selector>
</div>
