:host {
  .pictures-list-view, .side-bar {
    margin-top: 3.5rem;
    padding-top: 1rem;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }

  .side-bar {
    max-width: 30rem;
  }

  .directory-pagination {
    position: fixed;
    bottom: .5rem;
    left: 1.5rem;
  }
}
